<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./chart.css" />
    <title>Chart</title>
  </head>
  <body>
    <header>
      <h1 class="title">Chart</h1>
    </header>
    <main>
      <div class="chart-list">
        <div class="list__img">
          <img
            src="https://search.pstatic.net/common?type=f&size=150x150&quality=75&direct=true&src=https%3A%2F%2Fmusicmeta-phinf.pstatic.net%2Falbum%2F008%2F500%2F8500274.jpg%3Ftype%3Dr204Fll%26v%3D20230327175600"
          />
        </div>
        <div class="list__text">
          <div class="ranking">1</div>
          <div class="music-info">
            <div class="mucis-title">Ditto</div>
            <div class="mucis-artist">NewJeans</div>
          </div>
        </div>
      </div>
      <div class="chart-list">
        <div class="list__img">
          <img
            src="https://search.pstatic.net/common?type=f&size=150x150&quality=75&direct=true&src=https%3A%2F%2Fmusicmeta-phinf.pstatic.net%2Falbum%2F008%2F500%2F8500274.jpg%3Ftype%3Dr204Fll%26v%3D20230327175600"
          />
        </div>
        <div class="list__text">
          <div class="ranking">1</div>
          <div class="music-info">
            <div class="mucis-title">Ditto</div>
            <div class="mucis-artist">NewJeans</div>
          </div>
        </div>
      </div>
      <div class="chart-list">
        <div class="list__img">
          <img
            src="https://search.pstatic.net/common?type=f&size=150x150&quality=75&direct=true&src=https%3A%2F%2Fmusicmeta-phinf.pstatic.net%2Falbum%2F008%2F500%2F8500274.jpg%3Ftype%3Dr204Fll%26v%3D20230327175600"
          />
        </div>
        <div class="list__text">
          <div class="ranking">1</div>
          <div class="music-info">
            <div class="mucis-title">Ditto</div>
            <div class="mucis-artist">NewJeans</div>
          </div>
        </div>
      </div>
      <div class="chart-list">
        <div class="list__img">
          <img
            src="https://search.pstatic.net/common?type=f&size=150x150&quality=75&direct=true&src=https%3A%2F%2Fmusicmeta-phinf.pstatic.net%2Falbum%2F008%2F500%2F8500274.jpg%3Ftype%3Dr204Fll%26v%3D20230327175600"
          />
        </div>
        <div class="list__text">
          <div class="ranking">1</div>
          <div class="music-info">
            <div class="mucis-title">Ditto</div>
            <div class="mucis-artist">NewJeans</div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
